node_modules/
.expo/
.expo-shared/
expo-env.d.ts
dist/
web-build/
tmp/
out-tsc/
*.tsbuildinfo
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
Thumbs.db
*.pem
.env
.env*.local
.vercel
.cache/
.local/
.pnpm-store/
.replit-artifact/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
